[Unit]
Description=Vision processing code
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=robotics
WorkingDirectory=/home/robotics/vision-code/
ExecStart=/home/robotics/vision-code/vision-code.sh

[Install]
WantedBy=multi-user.target